interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.sehavniva.no/tideapi.php?tide_request=locationdata&fromtime=2019-06-07T00%3A00&totime=2019-06-10T23%3A59&datatype=TAB&dst=1&refcode=CD&lang=en&lon=10.73451&lat=59.908559
  response:
    body:
      string: '<tide>

        <locationdata>

        <location name="OSLO" code="OSL" latitude="59.908559" longitude="10.734510"
        delay="0" factor="1.00" obsname="OSLO" obscode="OSL" place="OSLO"/>

        <reflevelcode>CD</reflevelcode>

        <data type="prediction" unit="cm">

        <waterlevel value="43.7" time="2019-06-07T02:58:00+02:00" flag="low"/>

        <waterlevel value="73.6" time="2019-06-07T09:56:00+02:00" flag="high"/>

        <waterlevel value="47.9" time="2019-06-07T15:13:00+02:00" flag="low"/>

        <waterlevel value="76.1" time="2019-06-07T22:07:00+02:00" flag="high"/>

        <waterlevel value="41.5" time="2019-06-08T03:49:00+02:00" flag="low"/>

        <waterlevel value="75.4" time="2019-06-08T10:50:00+02:00" flag="high"/>

        <waterlevel value="47.3" time="2019-06-08T16:06:00+02:00" flag="low"/>

        <waterlevel value="78.1" time="2019-06-08T23:00:00+02:00" flag="high"/>

        <waterlevel value="39.7" time="2019-06-09T04:46:00+02:00" flag="low"/>

        <waterlevel value="77.8" time="2019-06-09T11:50:00+02:00" flag="high"/>

        <waterlevel value="46.4" time="2019-06-09T17:05:00+02:00" flag="low"/>

        <waterlevel value="80.2" time="2019-06-10T00:01:00+02:00" flag="high"/>

        <waterlevel value="38.3" time="2019-06-10T05:50:00+02:00" flag="low"/>

        <waterlevel value="80.5" time="2019-06-10T12:53:00+02:00" flag="high"/>

        <waterlevel value="45.5" time="2019-06-10T18:09:00+02:00" flag="low"/>

        </data>

        </locationdata>

        </tide>

        '
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
